/* src/index.css (Tailwind v4 전용) */
@import 'tailwindcss';

@font-face {
    font-family: 'Pretendard';
    font-weight: 100 900;
    font-display: swap;
    src: url('../public/fonts/PretendardVariable.woff2') format('woff2');
}

@theme {
    --color-primary: #0066b3;

    --animation-slideUp: slideUp 0.5s ease-out;

    @keyframes slideUp {
        from {
            transform: translateY(100%);
            opacity: 0;
        }
        to {
            transform: translateY(0);
            opacity: 1;
        }
    }
}

body {
    font-family: 'Pretendard', 'system-ui', 'sans-serif';

    /* Firefox */
    scrollbar-width: none;
    /* Chrome, Safari, Edge */
    &::-webkit-scrollbar {
        display: none;
    }
}
